<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">ZooApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        
        {% if not request.user.is_authenticated %}
          <!-- Guest (Belum Login) -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Registrasi</a>
          </li>

        {% else %}
          <!-- Sudah Login -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
          </li>

          {% if request.user.groups.filter(name='Dokter Hewan').exists %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'rekam_medis' %}">Rekam Medis Hewan</a>
            </li>
          {% elif request.user.groups.filter(name='Penjaga Hewan').exists %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'catatan_perawatan' %}">Catatan Perawatan Hewan</a>
            </li>
          {% elif request.user.groups.filter(name='Staf Administrasi').exists %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'kelola_pengunjung' %}">Kelola Pengunjung</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'kelola_adopsi' %}">Kelola Adopsi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'kelola_adopter' %}">Kelola Adopter</a>
            </li>
          {% elif request.user.groups.filter(name='Pelatih Pertunjukan').exists %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'jadwal_pertunjukan' %}">Jadwal Pertunjukan</a>
            </li>
          {% elif request.user.groups.filter(name='Pengunjung').exists %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'informasi_kebun_binatang' %}">Informasi Kebun Binatang</a>
            </li>
            
            {% if request.user.groups.filter(name='Adopter').exists %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'hewan_adopsi' %}">Hewan Adopsi</a>
            </li>
            {% endif %}
          {% endif %}

          <!-- Semua user login -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pengaturan_profil' %}">Pengaturan Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>